*{
    margin: auto;
}
button{
    border-radius: 5px;
    text-decoration: none;
    font-size: 1.2em;
}
button:hover{
    background-color: beige;
}
h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    margin-bottom: 20px;
    font: 3em;
}
h2{
    text-align: center;
}

.pocetni{
    display: flex;
    flex-direction: column;
    border: 3px dashed green;
    margin: auto;
    margin-bottom: 10px;
}
.projekat1911{
    display: flex;
    flex-direction: column;
    border: 3px dashed blue;
}
