body{
    background-color: rgb(27, 27, 27);
    color: whitesmoke;
    text-align: center;
    max-width: 960px;
    margin: auto;
    button{
        border-radius: 15px;
        background-color: antiquewhite;
        width: 300px;
    }
    img{
        width: 200px;
        height: 200px;
    }
}
main{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: auto;
    margin-top: 5%;

   
    .pocetni{
        display: flex;
        flex-direction: column;
        width: 300px;
        padding: 5%;
        margin: auto;
        margin-top: 5%;
        border: 3px inset whitesmoke;
    }
    .projekat1911{
        display: flex;
        flex-direction: column;
        width: 300px;
        padding: 5%;
        margin: auto;
        margin-top: 5%;
        border: 3px inset whitesmoke;
    }
    .mostWanted{
        display: flex;
        flex-direction: column;
        width: 300px;
        padding: 5%;
        margin: auto;
        margin-top: 5%;
        border: 3px inset whitesmoke;
        }
    .bitstudent{
        display: flex;
        flex-direction: column;
        width: 300px;
        padding: 5%;
        margin: auto;
        margin-top: 5%;
        border: 3px inset whitesmoke;
        }
    .razni{
        display: flex;
        flex-direction: column;
        width: 300px;
        padding: 5%;
        margin: auto;
        margin-top: 5%;
        border: 3px inset whitesmoke;
    }
    
}
aside{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: auto;
    padding: 20px;
    h2{
        font-size: 2em;
        padding: auto;
        margin: auto;
    }

    
    .movieThingy{
        display: flex;
        flex-direction: column;
        width: 300px;
        padding: 5%;
        margin: auto;
        margin-top: 5%;
        border: 3px inset whitesmoke;
    }
}
@media only screen and (max-width: 600px) {
    main{
        flex-direction: column;
        padding: 10%;
    }
}